body {
	background-color: black;
	color: white;
}



#menu {
	padding:0;
	list-style-type: none;
	width: 1500px;
	min-height: 38px;
	margin: 0 auto;
	border-bottom: 5px solid #30bab6;
}
	
#menu li {
	float: left;
	border-right: 2px solid #6a1c80;
	border-left: 2px solid #9c30ba;
	position: relative;
}	

#menu li:last-child {
	border-right: none;
}
#menu li:first-child {
	border-left: none;
}

#menu li a {
	color: white;
	font-family: arial;
	background-color: #8E24AA;
	text-decoration: none;
	padding: 10px 118px;
	display: block;
}

#menu li a:hover {
background-color: #f7e76f;
color: black;
transition: 1s
}

#menu li ul {
	list-style-type: none;
	padding: 0;
	position: absolute;
	left: -999999999999999999px
}

#menu li:hover ul {
	left: 0;
}

#menu li ul li {
	float: none;
	border-right: none;
	border-left: none;
	border-top: 2px solid #f5e79a;
	border-bottom: 2px solid #e0d070;
	width: 200px}
	
.content h1 {
	color: red;
	margin-left: 490px;
	margin-top: 50px;
}	
.content p {
	font-size: 26px;
}	

h1 {
	color: yellow;
	margin-left: 490px;
	margin-top: 50px;
}	
	
.pr1 {
	background-color:#6e140a;
	color: white;
	width:200px;
	height:200px;
	padding: 60px;
	margin: 5px;
	margin-left: 200px;
	display: inline;
	float: left;
	font:20px;
}
.pr2 {
	background-color:#f7ee86;
	color: black;
	width:200px;
	height:200px;
	padding: 60px;
	margin: 5px;
	margin-left: 5px;
	display: inline;
	float: left;
	font:20px;
}	
.pr3 {
	background-color:#00f2ff;
	color: black;
	width:200px;
	height:200px;
	padding: 60px;
	margin-left: 5px;
	margin: 5px;
	display: inline;
	float: left;
	font:20px;
}
	
	
	
	
	